
/*###################################################
#####################################################
                 6. CLIENTS SECTION
#####################################################
#####################################################*/

.owl-clients .owl-item img {
    width: auto!important;
    margin: auto!important;
    max-height: 80px;
    transition: all .3s;
    &:hover {
        opacity: .75;
    }
}
