

/*###################################################
#####################################################
                 10. FOOTER SECTION
#####################################################
#####################################################*/
/*---------- White Footer ----------*/  
#footer ul {
    margin-bottom: 0;
    padding: 0px 0px 10px 0px;
}
#footer .social-icons li {
    display: inline-block;
    padding: 5px 20px;
    color: #000;
    font: 600 11px 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    opacity: .98;
    transition: all .3s;
}
@media (max-width: 768px) {
    #footer .social-icons li {
        padding: 5px 10px;
    }
}
@media (max-width: 548px) {
    #footer .social-icons li {
        padding: 10px 40px;
    }
}
@media (max-width: 423px) {
    #footer .social-icons li {
        padding: 10px 15px;
    }
}
#footer .social-icons li a i {
    position: relative;
    top: 1px;
    margin-right: 11px;
    padding-right: 5px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transition: all .3s;    
}
#footer .social-icons li a i {
    border-right: 1px solid rgba(0, 0, 0, .2);
}
#footer .social-icons li a {
    color: #000;
    transition: all .3s;  
}
#footer .social-icons li a {
    color: #000;
}
#footer .social-icons li a:hover {
    opacity: .65;
}
#footer .footer-info h6 {
    display: inline-block;
    padding: 0 15px;
}
.border-top {
    border-top: 1px solid rgba(0, 0, 0, .1)
}

/*---------- Black Footer ----------*/  
#footer-black ul {
    margin-bottom: 0;
    padding: 0px 0px 10px 0px;
}
#footer-black .social-icons li {
    display: inline-block;
    padding: 5px 20px;
    color: #fff;
    font: 600 11px 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    opacity: .98;
    transition: all .3s;
}
@media (max-width: 768px) {
    #footer-black .social-icons li {
        padding: 5px 10px;
    }
}
@media (max-width: 548px) {
    #footer-black .social-icons li {
        padding: 10px 40px;
    }
}
@media (max-width: 423px) {
    #footer-black .social-icons li {
        padding: 10px 15px;
    }
}
#footer-black .social-icons li a i {
    position: relative;
    top: 1px;
    margin-right: 11px;
    padding-right: 5px;
    border-right: 1px solid rgba(0, 0, 0, .2);
    transition: all .3s;    
}
#footer-black .social-icons li a i {
    border-right: 1px solid rgba(255, 255, 255, .2);
}
#footer-black .social-icons li a {
    color: #fff;
    transition: all .3s;  
}
#footer-black .social-icons li a {
    color: #fff;
}
#footer-black .social-icons li a:hover {
    opacity: .65;
}
#footer-black .footer-info h6 {
    display: inline-block;
    padding: 0 15px;
}
.border-top {
    border-top: 1px solid rgba(0, 0, 0, .1)
}
.border-top-white {
    border-top: 1px solid rgba(255, 255, 255, .1)
}
