
/*###################################################
#####################################################
                 9. GOOGLE MAPS SECTION
#####################################################
#####################################################*/

#map {
    width: 100%;
    height: 100%;
    height: 500px;
}
@media  (max-width: 480px) {
    #map {
        display: none;
    }
}
